<!DOCTYPE html>
<html lang="en"> <!--this is english as the base language-->
	<head>
    	<meta charset="utf-8"><!--let us know what type of characters we are using-->
    	<meta name="description" content="Your description goes here">
    	<meta name="keywords" content="one, two, three"><!--back in the day this is very useful for SEO purposes-->

		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css"> <!-- this will help you set the default styling for every browser,you can also us reset to delete all default styling
			<link rel="stylesheet" href="css/reset.css">
		-->
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
